.father {
  height: 100vh;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.child {
  width: 200px;
  height: 200px;
  font-size: 48px;
  background-color: peru;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
