@keyframes loaded {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 3px;
  justify-content: center;

  animation: loaded 0.5s ease-in-out;
}
