.movieBox {
  position: relative;
}

.movieBox:hover img {
  filter: blur(3px);
}

.movieBox:hover .movie__info {
  width: 200px;
  height: 150px;
  border-radius: 15px;

  position: absolute;
  top: 85px;
  right: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.movie__info {
  display: none;
}

.movie__title {
  font-size: 18px;
  font-weight: 600;
}

.movie__genres {
  font-size: 12px;
}
