.badge {
  background-color: #ff612a;
  color: white;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.dot {
  background-color: #ff612a;

  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
}
