@import "reset.scss";

nav {
  height: 50px;
  padding: 5px 12px;
  display: flex;
  ul {
    font-size: 32px;
    display: flex;
  }

  ul:first-child {
    width: 66%;
  }

  .zoo-logo {
    margin-right: 100px;
  }

  .header-item {
    margin-right: 48px;
  }
}
