.video-record__container {
  width: 100%;
  .video-record__video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    video {
      max-width: 100%;
      margin-bottom: 10px;

      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg); /* Safari and Chrome */
      -moz-transform: rotateY(180deg); /* Firefox */
    }
  }
}
