#friends-display-link {
  display: block;
  text-align: center;

  background-color: #fafafa;
  color: #2f363e;

  padding: 15px 0px;
  margin-bottom: 10px;
  font-size: 18px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

.friends-screen {
  padding: 0px var(--horizontal-padding);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--border);
}

.friends-screen__channel-header {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 13px;

  display: flex;
  justify-content: space-between;

  color: rgba(0, 0, 0, 0.4);
}

/* splash screen (01.png) */

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

#splash-screen i {
  font-size: 100px;
  color: #3c1d1e;
}
